.profile-pic {
    width: 25%; /* Adjust the size as needed */
    height: 25%; /* Ensure height matches width for a perfect circle */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the element without distortion */
    border: 2px solid black;

    /* TODO: Consider adding some transition effect here */
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-black {
    background-color: #000;
}

.no-text-decor a {
    text-decoration: none;
}