/* Fonts */
body {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

/* Layout */
* {
    box-sizing: border-box;
}

/* Styling */
.timeline-container {
    display: flex;
    justify-content: center;
    max-width: 90em;
    margin: 4em auto;
    position: relative;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: rgb(28, 28, 30, 0.9);
    transform: translateX(-50%);
}

.timeline-column {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.left-column {
    align-items: flex-end;
}

.right-column {
    align-items: flex-start;
    margin-top: 10rem;
}

.timeline-event {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.timeline-event-content {
    width: 100%;
    position: relative;
}

.left-column .timeline-event-content {
    padding-right: 40px;
}

.right-column .timeline-event-content {
    padding-left: 40px;
}

.timeline-event * {
    transition: all 0.3s ease;
}

.timeline-event:hover .timeline-event-icon, 
.timeline-event:hover .timeline-event-thumbnail {
    background-color: var(--macos-blue);
}

.timeline-event:hover .timeline-event-copy > h3 {
    color: var(--macos-blue);
}

.timeline-event-copy {
    padding: 2em;
    border-radius: 8px;
    background-color: var(--system-gray);
    text-align: left;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    border-radius: 50%;
    background-color: rgb(28, 28, 30, 0.9);
    outline: 10px solid white;
    display: block;
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
}

.left-column .timeline-event-icon {
    right: -0.5em;
}

.right-column .timeline-event-icon {
    left: -0.5em;
}

.timeline-event-thumbnail {
    border-radius: 6px;
    color: white;
    font-size: 0.75em;
    background-color: rgb(28, 28, 30, 0.9);
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}

.scale:hover {
    transform: scale(1.02);
}