/* Fonts */
body {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

/* Layout */
* {
    box-sizing: border-box;
}

/* Styling */
.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 90em;
    list-style: none;
    padding: 0;
}

.timeline:before {
    background-color: rgb(28, 28, 30, 0.9);
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}

.timeline-event {
    position: relative;
    width: 50%;
    margin-bottom: 50px;
}

.timeline-event.left {
    left: 0;
    padding-right: 40px;
}

.timeline-event.right {
    left: 50%;
    padding-left: 40px;
}

.timeline-event * {
    transition: all 0.3s ease;
}

.timeline-event:hover .timeline-event-icon, 
.timeline-event:hover .timeline-event-thumbnail {
    background-color: var(--macos-blue);
}

.timeline-event:hover .timeline-event-copy > h3 {
    color: var(--macos-blue);
}

.timeline-event-copy {
    padding: 2em;
    border-radius: 8px;
    position: relative;
    background-color: var(--system-gray);
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    border-radius: 50%;
    background-color: rgb(28, 28, 30, 0.9);
    outline: 10px solid white;
    display: block;
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
}

.left .timeline-event-icon {
    right: -0.5em;
}

.right .timeline-event-icon {
    left: -0.5em;
}

.timeline-event-thumbnail {
    border-radius: 6px;
    color: white;
    font-size: 0.75em;
    background-color: rgb(28, 28, 30, 0.9);
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}

.scale:hover {
    transform: scale(1.02);
}