body {
  margin: 0;
  /* TODO: import font family to make it more consistent across devices */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --system-gray: #f0f0f0;
  --macos-cyan: rgb(85, 190, 240);
  --macos-blue: rgb(0, 122, 255);
}